<div class="container">
    <h2>User registration</h2>
    <form #registerForm="ngForm" (ngSubmit)="registerUser()">
        <small [class.text-danger]="msg.status==500">{{msg.message}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email"
         [(ngModel)] = "user.email" required #email="ngModel" 
         required pattern="^\w+@[a-z0-9.-]+\.[a-z]{2,4}$"
         [class.is-invalid] ="email.invalid &&email.touched">
         <!-- <small class="text-danger"[class.d-none]="email.untouched||email.valid">Email is required field and it should in correct format</small> -->
         <div *ngIf="email.errors && (email.invalid&&email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Email should in correct format</small>
         </div>
      </div>
      <div class="form-group">
        <label for="username">User Name:</label>
        <input type="username" class="form-control" placeholder="Enter username" name="username" 
        [(ngModel)] = "user.username" required #username="ngModel"
        [class.is-invalid] ="username.invalid && username.touched">
        <small class="text-danger"[class.d-none]="username.valid || username.untouched">User Name is required field</small>  
     </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" 
        [(ngModel)] = "user.password" required #password="ngModel"
        [class.is-invalid] ="password.invalid && password.touched">
        <small class="text-danger"[class.d-none]="password.valid || password.untouched">Password is required field</small>  
      </div>

      <div class="form-group">
        <label>User Type</label>
          <div class="radio" *ngFor="let mtype of usertypes">
            <label for="usertype">
              <input type="radio" name="usertype"
              [(ngModel)] = "user.usertype" [value]="mtype">
              {{mtype}}
            </label>
          </div>
      </div>
      <button [disabled]="registerForm.form.invalid" type="submit" class="btn btn-info">Register</button>
    </form>
    <small class="float-right" [routerLink]="['/login']">Existing user ? <button>Login here</button> </small>
  </div>