<div class="container">
    <h2>User Login</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email"
         [(ngModel)] = "user.email" required #email="ngModel" 
         required pattern="^\w+@[a-z0-9.-]+\.[a-z]{2,4}$"
         [class.is-invalid] ="email.invalid &&email.touched">
         <!-- <small class="text-danger"[class.d-none]="email.untouched||email.valid">Email is required field and it should in correct format</small> -->
         <div *ngIf="email.errors && (email.invalid&&email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Email should in correct format</small>
         </div>

      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" 
        [(ngModel)] = "user.password" required #password="ngModel"
        [class.is-invalid] ="password.invalid && password.touched">
        <small class="text-danger"[class.d-none]="password.valid || password.untouched">Password is required field</small>  
    </div>
      
      <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
    </form>

    <!-- <small class="float-right" (click)="gotoRegistration()">New user ? <button>Register here</button> </small> -->

    <small class="float-right" [routerLink]="['/registration']">New user ? <button>Register here</button> </small>
  </div>